.Landing_heroTitle__xuSLM {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    text-align: center;
    font-family: PFDinDisplayPro, sans-serif;
    font-size: 3.75rem;
    line-height: 1;
    font-weight: 500;
    text-shadow: 2px 1px #8355ff
}

.Landing_heroDot__q2qlz,
.Landing_heroTitle__xuSLM {
    -webkit-animation: Landing_fadeIn__pkD83 2s;
    animation: Landing_fadeIn__pkD83 2s
}

.Landing_heroDot__q2qlz {
    color: #e06cbd;
    text-shadow: none;
    text-decoration: none;
    font-size: 1em
}

.Landing_heroDesc__DAoF5 {
    font-size: 1.875rem;
    line-height: 2.25rem
}

.Landing_heroDesc__DAoF5,
.Landing_heroSmallDesc__jSzgS {
    text-align: center;
    font-family: Gill Sans, sans-serif;
    -webkit-animation: Landing_fadeIn__pkD83 3s;
    animation: Landing_fadeIn__pkD83 3s
}

.Landing_heroSmallDesc__jSzgS {
    font-size: 1.125rem;
    line-height: 1.75rem
}

@-webkit-keyframes Landing_fadeIn__pkD83 {
    0% {
        opacity: 0;
        transform: translateY(25px)
    }
    to {
        opacity: 1
    }
}

@keyframes Landing_fadeIn__pkD83 {
    0% {
        opacity: 0;
        transform: translateY(25px)
    }
    to {
        opacity: 1
    }
}

.Landing_btnTelegram__qu40D {
    margin-top: .75rem;
    margin-bottom: .75rem;
    display: flex;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    align-items: center;
    justify-content: center;
    border-radius: .5rem;
    padding: .75rem 1.5rem
}

.Landing_btnTelegram__qu40D:hover {
    --tw-text-opacity: 1;
    color: rgb(255 255 255/var(--tw-text-opacity))
}

.Landing_btnTelegram__qu40D {
    box-shadow: 0 0 24px 0 rgba(133, 60, 210, .5);
    transition: .2s;
    background: linear-gradient(90deg, #6825e7, #aa58b8);
    color: #fff;
    text-decoration: none
}

.Landing_subtitle__nrjMH {
    margin-bottom: 1.5rem;
    font-size: 1.125rem;
    line-height: 1.75rem;
    text-align: center;
    font-weight: 400;
    margin-top: -25px
}

.Landing_subtitleText__q0YUE {
    margin-bottom: 1.5rem;
    text-align: center;
    font-size: 1em;
    font-weight: 300;
    line-height: 1.75em
}

.Landing_hightlightIcon__7K4Oh {
    font-size: 6rem;
    --tw-text-opacity: 1;
    color: rgb(186 132 255/var(--tw-text-opacity));
    background-image: linear-gradient(90deg, #0bbdda 0, #7d58f2 39%, #fb71ae);
    letter-spacing: normal;
    line-height: 1.53 !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.Landing_separator__GZG4h {
    margin: 5rem auto;
    text-align: center;
    border-bottom: 5px solid #da6ac0;
    width: 225px
}

.Landing_nftIcon__8kxxD {
    font-size: 6rem;
    --tw-text-opacity: 1;
    color: rgb(186 132 255/var(--tw-text-opacity));
    font-size: 9em;
    background-image: linear-gradient(90deg, #0bbdda 0, #7d58f2 39%, #fb71ae);
    letter-spacing: normal;
    line-height: 1.53 !important;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.Landing_tokenomicsCard__59u8P {
    margin-top: .75rem;
    margin-bottom: .75rem;
    border-radius: 1rem;
    --tw-bg-opacity: 1;
    background-color: rgb(64 64 64/var(--tw-bg-opacity));
    padding: .75rem 1.5rem
}

@media(min-width:720px) {
    .Landing_tokenomicsCard__59u8P {
        margin: 1.5rem
    }
}

.Landing_tokenomicsCard__59u8P {
    background-image: radial-gradient(at top right, #fb71ae 0, #7d58f2 70%)
}

.Landing_whiteImg__RN2s7 {
    filter: brightness(0) invert(1)
}

.SectionTitle_title__IKHF0 {
    font-size: 3em;
    background-image: linear-gradient(90deg, #0bbdda 0, #7d58f2 39%, #fb71ae);
    line-height: 1.53
}

.SectionTitle_title__IKHF0,
.SectionTitle_titleYellow__xJsT4 {
    margin-bottom: 3rem;
    text-align: center;
    color: #43ffb8;
    letter-spacing: normal;
    font-weight: 300;
    -webkit-animation: SectionTitle_fadeIn__G_0Pj 1s;
    animation: SectionTitle_fadeIn__G_0Pj 1s;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

.SectionTitle_titleYellow__xJsT4 {
    background-image: linear-gradient(90deg, #fff 0, #ffeaa6 39%, #fb71ae);
    font-size: 2.9rem;
    line-height: 1.53 !important
}

.TopProjects_container__XT7Cu {
    position: absolute;
    top: 0;
    left: 0;
    display: flex;
    height: 7rem;
    align-items: center
}

.TopProjects_container__XT7Cu>:not([hidden])~:not([hidden]) {
    --tw-space-x-reverse: 0;
    margin-right: calc(1.5rem * var(--tw-space-x-reverse));
    margin-left: calc(1.5rem * calc(1 - var(--tw-space-x-reverse)))
}

.TopProjects_container__XT7Cu {
    overflow: hidden;
    padding-left: 1.5rem;
    padding-right: 1.5rem
}

@media(min-width:720px) {
    .TopProjects_container__XT7Cu>:not([hidden])~:not([hidden]) {
        --tw-space-x-reverse: 0;
        margin-right: calc(3rem * var(--tw-space-x-reverse));
        margin-left: calc(3rem * calc(1 - var(--tw-space-x-reverse)))
    }
}

.TopProjects_container__XT7Cu {
    -webkit-animation: TopProjects_bannermove__sM813;
    animation: TopProjects_bannermove__sM813;
    -webkit-animation-direction: normal;
    animation-direction: normal;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    -webkit-animation-duration: 60s;
    animation-duration: 60s;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear
}

@-webkit-keyframes TopProjects_bannermove__sM813 {
    0% {
        transform: translate(0)
    }
    to {
        transform: translate(-50%)
    }
}

@keyframes TopProjects_bannermove__sM813 {
    0% {
        transform: translate(0)
    }
    to {
        transform: translate(-50%)
    }
}