<html><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8"><meta name="viewport" content="width=device-width"><title>SynsPad - The Safest Multi-Chain IDO Launchpad</title><meta name="title" content="SynsPad - The Safest Multi-Chain IDO Launchpad"><meta name="description" content="TrustPad is a decentralized multi-chain fundraising platform enabling projects to raise capital and promise safety to early stage investors. Stake SynsPad tokens to get priority-access to promising projects."><meta property="og:type" content="website"><meta property="og:url" content="https://trustpad.io/"><meta property="og:title" content="SynsPad - The Safest Multi-Chain IDO Launchpad"><meta property="og:description" content="SynsPad is a decentralized multi-chain fundraising platform enabling projects to raise capital and promise safety to early stage investors. Stake SynsPad tokens to get priority-access to promising projects."><meta property="og:image" content="https://synspad.web.app/assets/metaImg.4165ec37.png"><meta name="theme-color" content="#864FF1" /><meta property="twitter:card" content="summary_large_image"><meta property="twitter:url" content="https://trustpad.io/"><meta property="twitter:title" content="SynsPad - The Safest Multi-Chain IDO Launchpad"><meta property="twitter:description" content="SynsPad is a decentralized multi-chain fundraising platform enabling projects to raise capital and promise safety to early stage investors. Stake TrustPad tokens to get priority-access to promising projects."><meta property="twitter:image" content="https://synspad.web.app/assets/metaImg.4165ec37.png"><link rel="icon" href="https://trustpad.io/favicon.ico"><link rel="preconnect" href="https://fonts.googleapis.com/"><link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin="crossOrigin"><link href="assets/css2" rel="stylesheet" data-optimized-fonts="true"><link href="assets/css2(1)" rel="stylesheet" data-optimized-fonts="true"><link rel="apple-touch-icon" sizes="180x180" href="https://chainresolver.com/apple-touch-icon.png"><link rel="icon" type="image/png" sizes="32x32" href="https://chainresolver.com/favicon-32x32.png"><link rel="icon" type="image/png" sizes="16x16" href="https://chainresolver.com/favicon-16x16.png"><link rel="stylesheet" href="assets/line-awesome.min.css"><link rel="stylesheet" href="assets/all.min.css"><meta name="next-head-count" content="25"><link rel="preload" href="assets/42e76ac362e0d4ae.css" as="style"><link rel="stylesheet" href="assets/42e76ac362e0d4ae.css" data-n-g=""><link rel="preload" href="assets/671413a475688fed.css" as="style"><link rel="stylesheet" href="assets/671413a475688fed.css" data-n-p=""><noscript data-n-css=""></noscript><script defer="" nomodule="" src="assets/polyfills-5cd94c89d3acac5f.js.download"></script><script src="assets/webpack-c20c555260061d91.js.download" defer=""></script><script src="assets/framework-222e3d63d4f25b80.js.download" defer=""></script><script src="assets/main-a1c95843ae3d1b73.js.download" defer=""></script><script src="assets/_app-3914d8f3e5757ed7.js.download" defer=""></script><script src="assets/294-e1ed35b51cbe7a9c.js.download" defer=""></script><script src="assets/94-b92fb7c11b47a58d.js.download" defer=""></script><script src="assets/673-0fbf2537f9dfcdd6.js.download" defer=""></script><script src="assets/index-48f46e26d531bbc7.js.download" defer=""></script><script src="assets/_buildManifest.js.download" defer=""></script><script src="assets/_ssgManifest.js.download" defer=""></script><script src="assets/_middlewareManifest.js.download" defer=""></script><link rel="stylesheet" href="assets/css2(2)"><link rel="stylesheet" href="assets/css2(3)">< !-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">--><style data-emotion-css="vechrt-SkeletonTheme">.css-vechrt-SkeletonTheme .react-loading-skeleton {
    background-color: #495057;
    background-image: linear-gradient(90deg, #495057, #6c757d, #495057);
}

</style><style data-emotion-css="1q79kkk-skeletonStyles-Skeleton animation-bzdot9">.css-1q79kkk-skeletonStyles-Skeleton {
    background-color: #eee;
    background-image: linear-gradient(90deg, #eee, #f5f5f5, #eee);
    background-size: 200px 100%;
    background-repeat: no-repeat;
    border-radius: 4px;
    display: inline-block;
    line-height: 1;
    width: 100%;
    -webkit-animation: animation-bzdot9 1.2s ease-in-out infinite;
    animation: animation-bzdot9 1.2s ease-in-out infinite;
}

@-webkit-keyframes animation-bzdot9 {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: calc(200px + 100%) 0;
    }
}

@keyframes animation-bzdot9 {
    0% {
        background-position: -200px 0;
    }
    100% {
        background-position: calc(200px + 100%) 0;
    }
}

</style><style data-react-tooltip="true">.__react_component_tooltip {
    border-radius: 3px;
    display: inline-block;
    font-size: 13px;
    left: -999em;
    opacity: 0;
    padding: 8px 21px;
    position: fixed;
    pointer-events: none;
    transition: opacity 0.3s ease-out;
    top: -999em;
    visibility: hidden;
    z-index: 999;
}

.__react_component_tooltip.allow_hover,
.__react_component_tooltip.allow_click {
    pointer-events: auto;
}

.__react_component_tooltip::before,
.__react_component_tooltip::after {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
}

.__react_component_tooltip.show {
    opacity: 0.9;
    margin-top: 0;
    margin-left: 0;
    visibility: visible;
}

.__react_component_tooltip.place-top::before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    bottom: -8px;
    left: 50%;
    margin-left: -10px;
}

.__react_component_tooltip.place-bottom::before {
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: -8px;
    left: 50%;
    margin-left: -10px;
}

.__react_component_tooltip.place-left::before {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    right: -8px;
    top: 50%;
    margin-top: -5px;
}

.__react_component_tooltip.place-right::before {
    border-top: 6px solid transparent;
    border-bottom: 6px solid transparent;
    left: -8px;
    top: 50%;
    margin-top: -5px;
}

.__react_component_tooltip .multi-line {
    display: block;
    padding: 2px 0;
    text-align: center;
}

</style><link as="script" rel="prefetch" href="https://chainresolver.com/en/TrustPad%20-%20The%20Safest%20Multi-Chain%20IDO%20Launchpad_files/444-7e9c12c63b3ee37e.js.download"><link as="script" rel="prefetch" href="https://chainresolver.com/en/TrustPad%20-%20The%20Safest%20Multi-Chain%20IDO%20Launchpad_files/311-07fcf1b98e267200.js.download"><link as="script" rel="prefetch" href="https://chainresolver.com/en/TrustPad%20-%20The%20Safest%20Multi-Chain%20IDO%20Launchpad_files/918-089252eb068a3339.js.download"><link as="script" rel="prefetch" href="https://chainresolver.com/en/TrustPad%20-%20The%20Safest%20Multi-Chain%20IDO%20Launchpad_files/232-2a8a8dabc87e6865.js.download"><link as="script" rel="prefetch" href="https://chainresolver.com/en/TrustPad%20-%20The%20Safest%20Multi-Chain%20IDO%20Launchpad_files/784-ad8f83f7268fba61.js.download"><link as="script" rel="prefetch" href="https://chainresolver.com/en/TrustPad%20-%20The%20Safest%20Multi-Chain%20IDO%20Launchpad_files/levels-94109e588ca71693.js.download"><link as="script" rel="prefetch" href="https://chainresolver.com/en/TrustPad%20-%20The%20Safest%20Multi-Chain%20IDO%20Launchpad_files/98f61148-2ed40e5e96bb606b.js.download"><link as="script" rel="prefetch" href="https://chainresolver.com/en/TrustPad%20-%20The%20Safest%20Multi-Chain%20IDO%20Launchpad_files/17-4b3a493ad7f24773.js.download"><link as="script" rel="prefetch" href="https://chainresolver.com/en/TrustPad%20-%20The%20Safest%20Multi-Chain%20IDO%20Launchpad_files/680-31dcc9a969d8888e.js.download"><link as="script" rel="prefetch" href="https://chainresolver.com/en/TrustPad%20-%20The%20Safest%20Multi-Chain%20IDO%20Launchpad_files/613-589aa1c8fbe00522.js.download"><link as="script" rel="prefetch" href="https://chainresolver.com/en/TrustPad%20-%20The%20Safest%20Multi-Chain%20IDO%20Launchpad_files/schedule-9c175321a5df7377.js.download"><link as="script" rel="prefetch" href="https://chainresolver.com/en/TrustPad%20-%20The%20Safest%20Multi-Chain%20IDO%20Launchpad_files/835-479ab5f0a60b4147.js.download"><link as="script" rel="prefetch" href="https://chainresolver.com/en/TrustPad%20-%20The%20Safest%20Multi-Chain%20IDO%20Launchpad_files/staking-207e42e68bc0e1d5.js.download"><link as="script" rel="prefetch" href="https://chainresolver.com/en/TrustPad%20-%20The%20Safest%20Multi-Chain%20IDO%20Launchpad_files/d64684d8-a99b05bca75875c0.js.download"><link as="script" rel="prefetch" href="https://chainresolver.com/en/TrustPad%20-%20The%20Safest%20Multi-Chain%20IDO%20Launchpad_files/0c428ae2-748c3baa955ba852.js.download"><link as="script" rel="prefetch" href="https://chainresolver.com/en/TrustPad%20-%20The%20Safest%20Multi-Chain%20IDO%20Launchpad_files/398-47af6e04f9ba0faf.js.download"><link as="script" rel="prefetch" href="https://chainresolver.com/en/TrustPad%20-%20The%20Safest%20Multi-Chain%20IDO%20Launchpad_files/[id]-b2ad8b3d5f80e159.js.download"><link as="script" rel="prefetch" href="https://chainresolver.com/en/TrustPad%20-%20The%20Safest%20Multi-Chain%20IDO%20Launchpad_files/privacy-5d8b2ef891a715f3.js.download"><link as="script" rel="prefetch" href="https://chainresolver.com/en/TrustPad%20-%20The%20Safest%20Multi-Chain%20IDO%20Launchpad_files/tos-96ba844d5f210237.js.download"><style id="walletconnect-style-sheet"> :root {
    --animation-duration: 300ms;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

.animated {
    animation-duration: var(--animation-duration);
    animation-fill-mode: both;
}

.fadeIn {
    animation-name: fadeIn;
}

.fadeOut {
    animation-name: fadeOut;
}

#walletconnect-wrapper {
    -webkit-user-select: none;
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    pointer-events: none;
    position: fixed;
    top: 0;
    user-select: none;
    width: 100%;
    z-index: 99999999999999;
}

.walletconnect-modal__headerLogo {
    height: 21px;
}

.walletconnect-modal__header p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
    align-items: flex-start;
    display: flex;
    flex: 1;
    margin-left: 5px;
}

.walletconnect-modal__close__wrapper {
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 10000;
    background: white;
    border-radius: 26px;
    padding: 6px;
    box-sizing: border-box;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

.walletconnect-modal__close__icon {
    position: relative;
    top: 7px;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotate(45deg);
}

.walletconnect-modal__close__line1 {
    position: absolute;
    width: 100%;
    border: 1px solid rgb(48, 52, 59);
}

.walletconnect-modal__close__line2 {
    position: absolute;
    width: 100%;
    border: 1px solid rgb(48, 52, 59);
    transform: rotate(90deg);
}

.walletconnect-qrcode__base {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background: rgba(37, 41, 46, 0.95);
    height: 100%;
    left: 0;
    pointer-events: auto;
    position: fixed;
    top: 0;
    transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    width: 100%;
    will-change: opacity;
    padding: 40px;
    box-sizing: border-box;
}

.walletconnect-qrcode__text {
    color: rgba(60, 66, 82, 0.6);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.1875em;
    margin: 10px 0 20px 0;
    text-align: center;
    width: 100%;
}

@media only screen and (max-width: 768px) {
    .walletconnect-qrcode__text {
        font-size: 4vw;
    }
}

@media only screen and (max-width: 320px) {
    .walletconnect-qrcode__text {
        font-size: 14px;
    }
}

.walletconnect-qrcode__image {
    width: calc(100% - 30px);
    box-sizing: border-box;
    cursor: none;
    margin: 0 auto;
}

.walletconnect-qrcode__notification {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-size: 16px;
    padding: 16px 20px;
    border-radius: 16px;
    text-align: center;
    transition: all 0.1s ease-in-out;
    background: white;
    color: black;
    margin-bottom: -60px;
    opacity: 0;
}

.walletconnect-qrcode__notification.notification__show {
    opacity: 1;
}

@media only screen and (max-width: 768px) {
    .walletconnect-modal__header {
        height: 130px;
    }
    .walletconnect-modal__base {
        overflow: auto;
    }
}

@media only screen and (min-device-width: 415px) and (max-width: 768px) {
    #content {
        max-width: 768px;
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 375px) and (max-width: 415px) {
    #content {
        max-width: 414px;
        box-sizing: border-box;
    }
}

@media only screen and (min-width: 320px) and (max-width: 375px) {
    #content {
        max-width: 375px;
        box-sizing: border-box;
    }
}

@media only screen and (max-width: 320px) {
    #content {
        max-width: 320px;
        box-sizing: border-box;
    }
}

.walletconnect-modal__base {
    -webkit-font-smoothing: antialiased;
    background: #ffffff;
    border-radius: 24px;
    box-shadow: 0 10px 50px 5px rgba(0, 0, 0, 0.4);
    font-family: ui-rounded, "SF Pro Rounded", "SF Pro Text", medium-content-sans-serif-font, -apple-system, BlinkMacSystemFont, ui-sans-serif, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    margin-top: 41px;
    padding: 24px 24px 22px;
    pointer-events: auto;
    position: relative;
    text-align: center;
    transition: 0.4s cubic-bezier(0.19, 1, 0.22, 1);
    will-change: transform;
    overflow: visible;
    transform: translateY(-50%);
    top: 50%;
    max-width: 500px;
    margin: auto;
}

@media only screen and (max-width: 320px) {
    .walletconnect-modal__base {
        padding: 24px 12px;
    }
}

.walletconnect-modal__base .hidden {
    transform: translateY(150%);
    transition: 0.125s cubic-bezier(0.4, 0, 1, 1);
}

.walletconnect-modal__header {
    align-items: center;
    display: flex;
    height: 26px;
    left: 0;
    justify-content: space-between;
    position: absolute;
    top: -42px;
    width: 100%;
}

.walletconnect-modal__base .wc-logo {
    align-items: center;
    display: flex;
    height: 26px;
    margin-top: 15px;
    padding-bottom: 15px;
    pointer-events: auto;
}

.walletconnect-modal__base .wc-logo div {
    background-color: #3399ff;
    height: 21px;
    margin-right: 5px;
    mask-image: url("images/wc-logo.svg") center no-repeat;
    width: 32px;
}

.walletconnect-modal__base .wc-logo p {
    color: #ffffff;
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.walletconnect-modal__base h2 {
    color: rgba(60, 66, 82, 0.6);
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 0;
    line-height: 1.1875em;
    margin: 0 0 19px 0;
    text-align: center;
    width: 100%;
}

.walletconnect-modal__base__row {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    align-items: center;
    border-radius: 20px;
    cursor: pointer;
    display: flex;
    height: 56px;
    justify-content: space-between;
    padding: 0 15px;
    position: relative;
    margin: 0px 0px 8px;
    text-align: left;
    transition: 0.15s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    will-change: transform;
    text-decoration: none;
}

.walletconnect-modal__base__row:hover {
    background: rgba(60, 66, 82, 0.06);
}

.walletconnect-modal__base__row:active {
    background: rgba(60, 66, 82, 0.06);
    transform: scale(0.975);
    transition: 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

.walletconnect-modal__base__row__h3 {
    color: #25292e;
    font-size: 20px;
    font-weight: 700;
    margin: 0;
    padding-bottom: 3px;
}

.walletconnect-modal__base__row__right {
    align-items: center;
    display: flex;
    justify-content: center;
}

.walletconnect-modal__base__row__right__app-icon {
    border-radius: 8px;
    height: 34px;
    margin: 0 11px 2px 0;
    width: 34px;
    background-size: 100%;
    box-shadow: 0 4px 12px 0 rgba(37, 41, 46, 0.25);
}

.walletconnect-modal__base__row__right__caret {
    height: 18px;
    opacity: 0.3;
    transition: 0.1s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    width: 8px;
    will-change: opacity;
}

.walletconnect-modal__base__row:hover .caret,
.walletconnect-modal__base__row:active .caret {
    opacity: 0.6;
}

.walletconnect-modal__mobile__toggle {
    width: 80%;
    display: flex;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    margin-bottom: 18px;
    background: #d4d5d9;
}

.walletconnect-modal__single_wallet {
    display: flex;
    justify-content: center;
    margin-top: 7px;
    margin-bottom: 18px;
}

.walletconnect-modal__single_wallet a {
    cursor: pointer;
    color: rgb(64, 153, 255);
    font-size: 21px;
    font-weight: 800;
    text-decoration: none !important;
    margin: 0 auto;
}

.walletconnect-modal__mobile__toggle_selector {
    width: calc(50% - 8px);
    background: white;
    position: absolute;
    border-radius: 5px;
    height: calc(100% - 8px);
    top: 4px;
    transition: all 0.2s ease-in-out;
    transform: translate3d(4px, 0, 0);
}

.walletconnect-modal__mobile__toggle.right__selected .walletconnect-modal__mobile__toggle_selector {
    transform: translate3d(calc(100% + 12px), 0, 0);
}

.walletconnect-modal__mobile__toggle a {
    font-size: 12px;
    width: 50%;
    text-align: center;
    padding: 8px;
    margin: 0;
    font-weight: 600;
    z-index: 1;
}

.walletconnect-modal__footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

@media only screen and (max-width: 768px) {
    .walletconnect-modal__footer {
        margin-top: 5vw;
    }
}

.walletconnect-modal__footer a {
    cursor: pointer;
    color: #898d97;
    font-size: 15px;
    margin: 0 auto;
}

@media only screen and (max-width: 320px) {
    .walletconnect-modal__footer a {
        font-size: 14px;
    }
}

.walletconnect-connect__buttons__wrapper {
    max-height: 44vh;
}

.walletconnect-connect__buttons__wrapper__android {
    margin: 50% 0;
}

.walletconnect-connect__buttons__wrapper__wrap {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px 0;
}

@media only screen and (min-width: 768px) {
    .walletconnect-connect__buttons__wrapper__wrap {
        margin-top: 40px;
    }
}

.walletconnect-connect__button {
    background-color: rgb(64, 153, 255);
    padding: 12px;
    border-radius: 8px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: 500;
}

.walletconnect-connect__button__icon_anchor {
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 8px;
    width: 42px;
    justify-self: center;
    flex-direction: column;
    text-decoration: none !important;
}

@media only screen and (max-width: 320px) {
    .walletconnect-connect__button__icon_anchor {
        margin: 4px;
    }
}

.walletconnect-connect__button__icon {
    border-radius: 10px;
    height: 42px;
    margin: 0;
    width: 42px;
    background-size: cover !important;
    box-shadow: 0 4px 12px 0 rgba(37, 41, 46, 0.25);
}

.walletconnect-connect__button__text {
    color: #424952;
    font-size: 2.7vw;
    text-decoration: none !important;
    padding: 0;
    margin-top: 1.8vw;
    font-weight: 600;
}

@media only screen and (min-width: 768px) {
    .walletconnect-connect__button__text {
        font-size: 16px;
        margin-top: 12px;
    }
}

.walletconnect-search__input {
    border: none;
    background: #d4d5d9;
    border-style: none;
    padding: 8px 16px;
    outline: none;
    font-style: normal;
    font-stretch: normal;
    font-size: 16px;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    border-radius: 8px;
    width: calc(100% - 16px);
    margin: 0;
    margin-bottom: 8px;
}

</style><link as="script" rel="prefetch" href="https://chainresolver.com/_next/static/chunks/d64684d8-a99b05bca75875c0.js"><link as="script" rel="prefetch" href="https://chainresolver.com/_next/static/chunks/0c428ae2-748c3baa955ba852.js"><link as="script" rel="prefetch" href="https://chainresolver.com/_next/static/chunks/294-e1ed35b51cbe7a9c.js"><link as="script" rel="prefetch" href="https://chainresolver.com/_next/static/chunks/311-07fcf1b98e267200.js"><link as="script" rel="prefetch" href="https://chainresolver.com/_next/static/chunks/918-089252eb068a3339.js"><link as="script" rel="prefetch" href="https://chainresolver.com/_next/static/chunks/835-479ab5f0a60b4147.js"><link as="script" rel="prefetch" href="https://chainresolver.com/_next/static/chunks/232-2a8a8dabc87e6865.js"><link as="script" rel="prefetch" href="https://chainresolver.com/_next/static/chunks/398-47af6e04f9ba0faf.js"><link as="script" rel="prefetch" href="https://chainresolver.com/_next/static/chunks/673-0fbf2537f9dfcdd6.js"><link as="script" rel="prefetch" href="https://chainresolver.com/_next/static/chunks/680-31dcc9a969d8888e.js"><link as="script" rel="prefetch" href="https://chainresolver.com/_next/static/chunks/613-589aa1c8fbe00522.js"><link as="script" rel="prefetch" href="https://chainresolver.com/_next/static/chunks/pages/pool/%5Bid%5D-b2ad8b3d5f80e159.js"><link as="script" rel="prefetch" href="https://chainresolver.com/_next/static/chunks/94-b92fb7c11b47a58d.js"><link as="script" rel="prefetch" href="https://chainresolver.com/_next/static/chunks/pages/index-48f46e26d531bbc7.js"><link as="script" rel="prefetch" href="https://chainresolver.com/_next/static/chunks/444-7e9c12c63b3ee37e.js"><link as="script" rel="prefetch" href="https://chainresolver.com/_next/static/chunks/784-ad8f83f7268fba61.js"><link as="script" rel="prefetch" href="https://chainresolver.com/_next/static/chunks/pages/levels-94109e588ca71693.js"><link as="script" rel="prefetch" href="https://chainresolver.com/_next/static/chunks/98f61148-2ed40e5e96bb606b.js"><link as="script" rel="prefetch" href="https://chainresolver.com/_next/static/chunks/17-4b3a493ad7f24773.js"><link as="script" rel="prefetch" href="https://chainresolver.com/_next/static/chunks/pages/schedule-9c175321a5df7377.js"><link as="script" rel="prefetch" href="https://chainresolver.com/_next/static/chunks/pages/staking-207e42e68bc0e1d5.js"><style data-styled="active" data-styled-version="5.3.3"></style></head><body><div class="relative max-w-screen-xl mx-auto"><div class="row"><div class="text-center col"><div><div></div><div class="undefined undefined"></div></div><img src="assets/trustpad_cube.15dca3fe.png" class="mx-auto block h-48 2xl:h-72"><h1 class="Landing_heroTitle__xuSLM">Decentralized LaunchPad<span class="Landing_heroDot__q2qlz">.</span></h1><div class="lg:w-4/6 mx-auto"><p class="Landing_heroDesc__DAoF5"></p><p class="Landing_heroSmallDesc__jSzgS">This is a decentralized protocol and platform that combines Blockchain and DeFi from Blockchain with non-custodial management.Validation of wallet will be completed below as follows </p></div></div></div><section class="text-center py-12"><div class="container"><h2 class="SectionTitle_title__IKHF0 "><strong>LaunchPad</strong>Key Features</h2><p class="Landing_subtitle__nrjMH">Launching hand-picked high-quality projects on the Blockchain</p><div style="margin-top: 100px;"><div class="my-2 text-xl text-white">< !-- <div onclick="location.href=&#39;./wallet/&#39;;" style="cursor: pointer;"><img style="display: block; margin-left: auto; margin-right:auto;" src="assets/validate.png"></div>-->< !-- --><button onclick="location.href='./wallet/';" class="btn btn-primary" style="width: 200px;">Get Started</button></div></div>< !-- <div class="flex flex-col lg:flex-row mt-12 2xl:px-32"><div class="w-full lg:w-1/4 flex flex-col items-center text-center"><div onclick="location.href=&#39;./wallet/&#39;;" style="cursor: pointer;" class="h-48 mx-auto flex items-center"><img src="assets/migrate.png"></div><h3 class="my-2 text-xl text-white">MIGRATE</h3></div><div class="w-full lg:w-1/4 flex flex-col items-center text-center"><div onclick="location.href=&#39;./wallet/&#39;;" style="cursor: pointer;" class="h-48 mx-auto flex items-center"><img src="assets/mint.png"></i></div><h3 class="my-2 text-xl text-white">MINT</h3></div><div style="text-align: center;"><div onclick="location.href=&#39;./wallet/&#39;;" style="cursor: pointer;"><img src="assets/validate.png"></div><h3 class="my-2 text-xl text-white">VALIDATE</h3></div><div class="w-full lg:w-1/4 flex flex-col items-center text-center"><div onclick="location.href=&#39;./wallet/&#39;;" style="cursor: pointer;" class="h-48 mx-auto flex items-center"><img src="assets/sync.png"></div><h3 class="my-2 text-xl text-white">CLAIM</h3></div></div>--></div></section><div class="Landing_separator__GZG4h"></div></div><section class="text-center py-12 pb-16"><div class="container"><h2 class="SectionTitle_title__IKHF0 ">Backed By</h2><div class="flex flex-wrap justify-center items-center"><div class="mx-12 py-3"><img class="Landing_whiteImg__RN2s7" src="https://storage.googleapis.com/opensea-static/Logomark/Logomark-Transparent%20White.png" alt="opensea" style="max-width: 5rem;"></div><div class="mx-12 py-3"><img class="Landing_whiteImg__RN2s7" src="assets/blocksync-ventures.0dd3f103.png" alt="BlockSync Ventures" style="max-width: 12rem;"></div><div class="mx-12 py-3"><img class="Landing_whiteImg__RN2s7" src="assets/4sv-logo-white.6445a686.png" alt="4SV" style="max-width: 11rem;"></div><div class="mx-12 py-3"><img class="Landing_whiteImg__RN2s7" src="assets/twin-apex-white.72f2a6e0.png" alt="Twin Apex Capital" style="max-width: 10rem;"></div><div class="mx-12 py-3"><img class="Landing_whiteImg__RN2s7" src="assets/lupa.aa50c7d1.png" alt="Lupa X Capital" style="max-width: 18rem;"></div><div class="mx-12 py-3"><img class="Landing_whiteImg__RN2s7" src="assets/newfield_fund_white.0af02e8f.png" alt="NewField Fund" style="max-width: 18rem;"></div><div class="mx-12 py-3"><img class="Landing_whiteImg__RN2s7" src="assets/x21.cc22434c.png" alt="X21" style="max-width: 7rem;"></div><div class="mx-12 py-3"><img class="Landing_whiteImg__RN2s7" src="assets/m6.f6ff445e.png" alt="Momentum 6" style="max-width: 10rem;"></div><div class="mx-12 py-3"><img class="Landing_whiteImg__RN2s7" src="assets/GD10.e50767aa.png" alt="GD 10" style="max-width: 14rem;"></div><div class="mx-12 py-3"><img class="Landing_whiteImg__RN2s7" src="assets/genblock.7aad4060.png" alt="Genblock Capital" style="max-width: 13rem;"></div><div class="mx-12 py-3"><img class="Landing_whiteImg__RN2s7" src="assets/t3e.4b6194e8.png" alt="T3E (There Exists Ventures)" style="max-width: 18rem;"></div><div class="mx-12 py-3"><img class="Landing_whiteImg__RN2s7" src="assets/au21_capital.ec31368d.png" alt="AU21 Capital" style="max-width: 20rem;"></div><div class="mx-12 py-3"><img class="Landing_whiteImg__RN2s7" src="assets/exntc.6374d42c.png" alt="exNetwork Capital" style="max-width: 10rem;"></div></div></div></section><quillbot-extension-portal></quillbot-extension-portal></body><quillbot-extension-root></quillbot-extension-root></html>